* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code{
  background: #e3e3e3;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 4px;
}

.container{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

.inline-icon{
  display: flex;
  align-items: center;
  gap: 8px;
}

.social {
  display: flex;
  gap: 10px;
  padding: 24px 0;
}

.btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #141414;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  transition: background .2s, transform .2s;
}

.btn i {
  color: #fff;
}

.btn:hover{
  background:#67dd0a;
  transform: translateY(-4px);
}

@media (max-width: 800px){
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}