aside header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

aside header h1 {
	line-height: 1;
	text-transform: uppercase;
}

aside header span {
	text-align: right;
	opacity: 1;
	font-size: 0.8rem;
	line-height: 1;
}

aside main {
	text-align: center;
}

aside main > * {
	display: block;
}

aside main .profile {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: top;
	border-radius: 1.5rem;
	margin: 2rem 0;
}

aside main .name {
	margin-bottom: 0.25rem;
}

aside main .location i {
	margin-right: 0.25rem;
}

aside main .socials {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

aside footer button {
	width: 100%;
	padding: 0.8rem;
	transition: filter 0.2s;
}

aside footer button i {
	color: var(--dark);
	opacity: 1;
	margin-right: 0.25rem;
}
